---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


@media (min-width: 80em) {
  .archive {
    width: calc(100% - 300px);
    padding-right: 0px;
  }
}

@media (min-width: 64em) {
  .archive {
    width: calc(100% - 300px);
    padding-right: 0px;
  }
}

/* 
  Header ################################################################### */

.masthead {
  display: none;
}

/* 
  Page content ################################################################### */

.page__content a:link, .page__taxonomy-item{
  color: rgb(5, 99, 193) !important;
  text-decoration: none !important;
}

.page__content a:visited, .page__taxonomy-item {
  color: rgb(5, 99, 193) !important;
  text-decoration: none !important;
}

.page__content a:hover, .page__taxonomy-item {
  color: rgb(5, 99, 193) !important;
  text-decoration: none !important;
}

.page__content a:active, .page__taxonomy-item {
  color: rgb(5, 99, 193) !important;
  text-decoration: none !important;
}

.page__content p {
  text-align: justify;
  text-justify: inter-word;
}

blockquote {
  border-left: 0.25em solid #36657F;
}

.pagination--pager {
  color: #36657F !important;
}

.pagination--pager:hover {
  color: #FFFFFF !important;
  background-color: #36657F !important;
}

/* 
  Grid items ################################################################### */

.archive, .h-entry {
  padding-left: 50px;
}

.grid__item a:link {
  color: #000106;
  text-decoration: none;
}

.grid__item a:visited {
  color: #000106;
  text-decoration: none;
}

.grid__item a:hover {
  color: #000106;
  text-decoration: none;
}

.grid__item a:active {
  color: #000106;
  text-decoration: none;
}

/* 
  Footer ################################################################### */

#footer {
    background-color: #000106;
}

.oa-footer {
  margin-left:10px;
  padding-bottom:10px;
  width:80px;
  object-fit: contain;
}

/* 
  General ################################################################### */

* {
  font-family: Poppins, Poppins_EmbeddedFont, Poppins_MSFontService, sans-serif;
}

::selection {
  color: #fff;
  background: #36657F;
}
