---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


@media (min-width: 80em) {
  .archive {
    width: calc(100% - 300px);
    padding-right: 0px;
  }
}

@media (min-width: 64em) {
  .archive {
    width: calc(100% - 300px);
    padding-right: 0px;
  }
}

// CUSTOM CSS

#footer {
  background-color: #000106;
}

.site-title {
  color: #36657F;
}

.page__content a:link {
  color: rgb(5, 99, 193);
  text-decoration: none;
}

.page__content a:visited {
  color: rgb(5, 99, 193);
  text-decoration: none;
}

.page__content a:hover {
  color: rgb(5, 99, 193);
  text-decoration: none;
}

.page__content a:active {
  color: rgb(5, 99, 193);
  text-decoration: none;
}

.page__content p {
  text-align: justify;
  text-justify: inter-word;
}

* {
  font-family: Poppins, Poppins_EmbeddedFont, Poppins_MSFontService, sans-serif;
}

// Carousel

// .flex-container {
//   display: flex;
//   align-items: center;
// }

// .list__item {
//   display: none;
// }

// .active {
//   display: block;
// }

// .carousel-control-prev {
//   cursor: pointer;
//   width: auto;
//   padding: 16px;
//   margin-top: -22px;
//   font-weight: bold;
//   font-size: 18px;
//   transition: 0.6s ease;
//   user-select: none;
// }

// .carousel-control-next {
//   cursor: pointer;
//   width: auto;
//   padding: 16px;
//   margin-top: -22px;
//   font-weight: bold;
//   font-size: 18px;
//   transition: 0.6s ease;
//   user-select: none;
// }
  
// .carousel-control-prev {
//   left: 0;
// }

// .carousel-control-next {
//   right: 0;
// }
