---
layout: archive
---

{{ content }}

{% include archive-single type="grid" %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  <!-- <div class="flex-container">
    <dvi>
      <a class="carousel-control-prev" onclick="moveSlide(-1)">&#10094;</a>
    </dvi>

    <div> -->
      {% for post in posts %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    <!-- </div>

    <div>
      <a class="carousel-control-next" onclick="moveSlide(1)">&#10095;</a>
    </div>
  </div> -->

</div>

{% include paginator.html %}
